<div class="site-wrapper">
  <div class="page-title" [@scrollAnimation]="state">
    <h3>Contact</h3>
    <hr>
  </div>
  <div class="description-container">
    <div class="description" [@scrollAnimation]="state">
      I am not currently seeking new opportunities, however if you would still like to get in touch my inbox is always
      open.
    </div>
    <button class="btn btn-primary" [@scrollAnimation]="state"><a href="mailto:matthewflejter@gmail.com">Contact
        Me</a></button>
  </div>
</div>
