$lightblue: #0099CC;
$darkerblue: #0088DD;

.site-wrapper {
  width: 100%;
  max-width: 100%;
  background-color: whitesmoke;
  min-height: 60vh;
  color: #fff;
  text-align: center;

  .page-title {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 40px;

    h3 {
      color: #333;
    }

    hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 5px solid rgb(50, 50, 121);
      margin-right: 40%;
      margin-left: 40%;
      padding: 0;
    }
  }

  .description {
    color: #333;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    margin-top: 40px;
  }

  button {
    background-color: $lightblue;
    border: 1px solid $lightblue;
    margin-top: 30px;
    margin-bottom: 30px;

    a {
      color: white;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
    }
  }

  button:hover {
    background-color: $darkerblue;
    border: 1px solid $darkerblue;
  }
}

@media screen and (max-width: 600px) {
  .site-wrapper {
    .page-title {
      hr {
        margin-right: 20%;
        margin-left: 20%;
      }
    }
  }
}
