.site-wrapper {
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
  height: 600px;
  background-image: url(../../../assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .5);

  .inner.cover {
    padding: 20px;
    background-color: #131313;
    border-radius: 5px;
    display: inline-block;

    h1 {
      font-size: 60px;
      font-family: Arial, Helvetica, sans-serif;
    }

    p {
      font-family: Arial, Helvetica, sans-serif;
    }

    .btn-lg {
      padding: 10px 20px;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 600px) {
  .site-wrapper {
    .inner.cover {

      h1 {
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
      }

      p {
        font-size: 12px;
      }
    }
  }
}
