<div class="site-wrapper" [@simpleFadeAnimation]="'in'">
  <div class="inner cover">
    <h1 class="cover-heading">Matthew Flejter</h1>
    <p class="lead">Software Engineer | Tech Enthusiast</p>
  </div>
</div>
