<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
    data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav mr-auto">
      <a class="nav-link" pageScroll pageScrollDuration="0" pageScrollOffset="600" href="#home">Home</a>
      <a class="nav-link" pageScroll pageScrollDuration="0" pageScrollOffset="30" href="#about">About</a>
      <a class="nav-link" pageScroll pageScrollDuration="0" pageScrollOffset="20" href="#experience">Experience</a>
      <a class="nav-link" pageScroll pageScrollDuration="0" href="#contact">Contact</a>
    </ul>
  </div>
</nav>
