<div class="app-main">
  <app-terminal (doneProcessing)="handleDoneProcessing()" *ngIf="!displayMainContent"></app-terminal>

  <ng-container *ngIf="displayMainContent">
    <!-- Navbar -->
    <app-navbar></app-navbar>

    <!-- Main Page -->
    <app-home-page id="home"></app-home-page>

    <!-- About Page -->
    <app-about-page id="about"></app-about-page>

    <!-- Experience Page -->
    <app-experience-page id="experience"></app-experience-page>

    <!-- Contact Page -->
    <app-contact-page id="contact"></app-contact-page>
  </ng-container>
</div>
