<div class="site-wrapper">
  <div class="description-container" [@scrollAnimation]="state">
    <h1 class="about-title">Hi I'm Matt</h1>
    <p class="about-description">I'm a Junior Full Stack Software Engineer located in the Milwaukee, Wisconsin area.
      I love solving new and challenging problems, and determining how my skillset can best be applied to solve real
      world problems.
    </p>
    <br>
    <p class="about-description">
      During my time in college at the University of Wisconsin - Milwaukee, I worked as an Intern Software Engineer at
      both Northwestern Mutual as well as GE Healthcare, where I accepted a role as a Software Engineer starting shortly
      after graduation.
    </p>
    <br>
  </div>
  <div class="profile-image-container" [@scrollAnimation]="state">
    <div class="profile-image-inner-container">
      <img src="/assets/profilePicture.png">
    </div>
  </div>
</div>
