.site-wrapper {
  width: 100%;
  background-color: whitesmoke;
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  align-items: center;
  flex-wrap: wrap;

  .description-container {
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
    flex: 1;
    min-width: 200px;
    margin-top: 30px;

    .about-title {
      color: rgb(50, 50, 121);
      font-family: Arial, Helvetica, sans-serif;
    }

    .about-description {
      color: #131313;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 24px;
    }
  }

  .profile-image-container {
    flex: 1;
    display: flex;
    justify-content: center;

    .profile-image-inner-container {
      flex: 1;
      background-color: #131313;
      width: 35vh;
      max-width: 35vh;
      height: 35vh;
      border-radius: 12px;

      img {
        margin-left: 10%;
        margin-top: 10%;
        width: 80%;
      }
    }
  }
}


// Mobile styling
@media screen and (max-width: 600px) {
  .site-wrapper {
    .description-container {
      .about-title {
        font-size: 32px;
      }

      .about-description {
        font-size: 18px;
      }
    }
  }
}

// Tablet styling
@media screen and (min-width : 600px) and (max-width : 1024px) {
  .site-wrapper {
    .profile-image-container {
      flex: 1;
      display: flex;
      justify-content: center;

      .profile-image-inner-container {
        flex: 1;
        background-color: #131313;
        height: 250px;
        width: 250px;
        max-width: 250px;
        border-radius: 12px;
      }
    }
  }
}
