<div id="termynal" data-termynal data-ty-lineDelay="500" data-ty-typeDelay="60" *ngIf="show">
  <span data-ty="input">cd /usr/g/projects</span>
  <span data-ty="input">ls</span>
  <span data-ty>matthewflejter</span>
  <span data-ty="input">cd matthewflejter</span>
  <span data-ty="input">npm run start</span>
  <span data-ty="progress"></span>
</div>
