<div class="site-wrapper">
  <div class="page-title" [@scrollAnimation]="state">
    <h3>Experience</h3>
    <hr>
  </div>
  <div class="nav-section" [@scrollAnimation]="state">
    <div class="nav-container">
      <ul class="nav justify-content-center nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{selected: currentNavItem === 'GEEngineer'}"
            (click)="handleNavClick('GEEngineer')">GE Healthcare</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{selected: currentNavItem === 'GEIntern'}"
            (click)="handleNavClick('GEIntern')">GE Healthcare</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{selected: currentNavItem === 'NMIntern'}"
            (click)="handleNavClick('NMIntern')">Northwestern Mutual</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- GE Healthcare SWE -->
  <div class="experience card job1" [@scrollAnimation]="state" *ngIf="currentNavItem === 'GEEngineer'">
    <div class="job-header card-header">
      <div class="row job-title">
        <h4 class="col">Software Engineer | GE Healthcare</h4>
      </div>
      <div class="row section-selection">
        <div class="btn-group col" role="group" aria-label="section-selection">
          <button type="button" class="btn btn-secondary" [ngClass]="{'active': selectedSection === 'description'}"
            (click)="handleRadioClick('description')">Description</button>
          <button type="button" class="btn btn-secondary" [ngClass]="{'active': selectedSection === 'skills'}"
            (click)="handleRadioClick('skills')">Skills</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="job-description" *ngIf="selectedSection === 'description'">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Contribute to the development and enhancement of the companies CT Imaging desktop
            platform.</li>
          <li class="list-group-item">Implement software as per design specifications using Java and Angular.</li>
          <li class="list-group-item">Convert existing Java applications into microservices with the help of Swagger
            code generation.</li>
          <li class="list-group-item">Investigate and resolve discovered issues in order to enhance user experience.
          </li>
          <li class="list-group-item">Work in an agile environment amongst other engineers in a scrum team while
            tracking work on Rally.</li>
        </ul>
      </div>
      <div class="job-skills" *ngIf="selectedSection === 'skills'">
        <div class="chart-container">
          <ngx-charts-pie-chart [results]="geSWEData" [gradient]="gradient" [legend]="showLegend" [scheme]="colorScheme"
            [tooltipText]="formatTooltip" [labels]="labels" [view]="view">
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
    <div class="card-footer job-date">
      May 2019 - Present
    </div>
  </div>

  <!-- GE Healthcare Internship -->
  <div class="experience card job2" [@scrollAnimation]="state" *ngIf="currentNavItem === 'GEIntern'">
    <div class="job-header card-header">
      <div class="row job-title">
        <h4 class="col">Software Engineer Intern | GE Healthcare</h4>
      </div>
      <div class="row section-selection">
        <div class="btn-group col" role="group" aria-label="section-selection">
          <button type="button" class="btn btn-secondary" [ngClass]="{'active': selectedSection === 'description'}"
            (click)="handleRadioClick('description')">Description</button>
          <button type="button" class="btn btn-secondary" [ngClass]="{'active': selectedSection === 'skills'}"
            (click)="handleRadioClick('skills')">Skills</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="job-description" *ngIf="selectedSection === 'description'">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Created a web-based application using Angular 7.</li>
          <li class="list-group-item">Developed a backend RESTful API using Spring Boot.</li>
          <li class="list-group-item">Began the implementation of a reusable UI component architecture.</li>
          <li class="list-group-item">Worked in an agile environment amongst other engineers in a scrum team while
            tracking work on Rally.</li>
        </ul>
      </div>
      <div class="job-skills" *ngIf="selectedSection === 'skills'">
        <div class="chart-container">
          <ngx-charts-pie-chart [results]="geInternData" [gradient]="gradient" [legend]="showLegend"
            [scheme]="colorScheme" [tooltipText]="formatTooltip" [labels]="labels" [view]="view">
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
    <div class="card-footer job-date">
      January 2019 - May 2019
    </div>
  </div>

  <!-- NM Internship -->
  <div class="experience card job3" [@scrollAnimation]="state" *ngIf="currentNavItem === 'NMIntern'">
    <div class="job-header card-header">
      <div class="row job-title">
        <h4 class="col">Software Engineering Intern | Northwestern Mutual</h4>
      </div>
      <div class="row section-selection">
        <div class="btn-group col" role="group" aria-label="section-selection">
          <button type="button" class="btn btn-secondary" [ngClass]="{'active': selectedSection === 'description'}"
            (click)="handleRadioClick('description')">Description</button>
          <button type="button" class="btn btn-secondary" [ngClass]="{'active': selectedSection === 'skills'}"
            (click)="handleRadioClick('skills')">Skills</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="job-description" *ngIf="selectedSection === 'description'">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Assisted in Exchange 2010 to Microsoft Office 365/Exchange Online mailbox
            migrations for 30,000+ users.
          </li>
          <li class="list-group-item">Administered Microsoft Office 365 software through the use of PowerShell to
            30,000+ users.</li>
          <li class="list-group-item">Troubleshot system software, hardware, and connectivity issues.</li>
          <li class="list-group-item">Supported end-users with assistance, and training.</li>
          <li class="list-group-item">Worked in an agile environment amongst other engineers in a scrum team while
            tracking work on Jira and AgileCraft.</li>
        </ul>
      </div>
      <div class="job-skills" *ngIf="selectedSection === 'skills'">
        <div class="chart-container">
          <ngx-charts-pie-chart [results]="nmInternData" [gradient]="gradient" [legend]="showLegend"
            [scheme]="colorScheme" [tooltipText]="formatTooltip" [labels]="labels" [view]="view">
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
    <div class="card-footer job-date">
      May 2018 - January 2019
    </div>
  </div>
</div>
