.site-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  max-width: 100vw;
  background-color: whitesmoke;
  min-height: 100vh;

  .nav-section {
    text-align: center;
    margin-bottom: 30px;

    .nav-container {
      display: inline-block;

      .nav {
        a {
          color: #131313;
        }

        a.selected {
          background-color: #131313;
          color: #FFFFFF;
        }

        a:hover {
          cursor: pointer;
        }
      }
    }
  }

  .page-title {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 40px;

    h3 {
      color: #333;
    }

    hr {
      text-align: center;
      height: 1px;
      border: 0;
      border-top: 5px solid rgb(50, 50, 121);
      padding: 0;
      margin-right: 40%;
      margin-left: 40%;
    }
  }

  .experience {
    margin-top: 30px;
    width: 60%;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    min-height: 70vh;

    .job-header {
      font-family: Arial, Helvetica, sans-serif;
      color: #333;
      text-align: center;

      .section-selection {
        text-align: center;

        .btn-group {
          display: inline-block;

          .btn {
            min-width: 100px;
            text-align: center;
          }

          .btn.active {
            color: #FFFFFF;
            background-color: #131313;
          }
        }
      }

      .job-title {
        text-align: center;
        padding-top: 5px;
      }
    }

    .card-body {
      overflow-x: auto;

      .job-description {
        color: #333;
        font-family: Arial, Helvetica, sans-serif;
      }

      .job-skills {
        text-align: center;

        .chart-container {
          display: inline-block;
        }
      }
    }

    .job-date {
      text-align: center;
    }
  }
}

@media screen and (max-width: 600px) {
  .site-wrapper {
    .page-title {
      hr {
        margin-right: 20%;
        margin-left: 20%;
      }
    }

    .experience {
      width: 80%;
      padding: 0px;
      margin-left: 10%;
      margin-right: 10%;
      min-height: 60vh;
    }
  }
}
